# Logs
*.log

# Heroku files
vendor/
.env

# Node Stuff
node_modules

# Bower
bower_components
.bower-cache
.bower-registry
.bower-tmp

# Treat rendered CSS and JavaScript as compiled binaries
*.concat.js
*.min.js
*.min.css

# Source Maps
*.map
